/*
    -- Style commun aux pages --
*/
:root {
    --primary-color: #2ecc71;
    --primary-dark: #27ae60;
    --accent-color: #3498db;
    --dark-color: #2c3e50;
    --light-color: #ecf0f1;
    --gray-color: #95a5a6;
    --background-color: #e8ecf1:
    --error-color: #e74c3c;
    --success-color: #2ecc71;
    --card-shadow: 0 10px 20px rgba(0,0,0,0.1);
    --hover-transform: translateY(-5px);
    
}
html{
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ font-size: 18px;}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main {
    flex: 1;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1rem;
    max-width: 90%;
    margin: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: justify;
}

/*
    -- Index --
*/
a.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary-color, #007BFF);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 120px;
    min-height: 40px; 
    line-height: 1.5; 
    white-space: nowrap; 
}

a.btn:hover {
    background-color: var(--primary-hover-color, #0056b3);
}

input{
    font-size: 1rem;
}
button{
    font-size: 1rem;
}
/*
    -- Fonctionnel générique
*/
.error {
    background: rgba(231, 76, 60, 0.1);
    color: var(--error-color);
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    margin: 1rem auto;
    max-width: 600px;
    border-left: 4px solid var(--error-color);
}

@media screen and (min-width: 768px){
    html{
        font-size: 23px;
    }
    main{
        max-width: 85%;
    }

}