.tree-center {
    display: grid;
    grid-template-columns: 280px;
    gap: 2rem;
    margin: 2rem auto;
    justify-content: center;
}

.tree-card {
    background: var(--primary-color);
    color: var(--light-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    box-shadow: var(--card-shadow);
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tree-card:hover {
    transform: var(--hover-transform);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.tree-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tree-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.main-title{
    font-size: 2rem;
    margin: 3rem auto;
    margin-bottom: 2rem;
}
.info-cards-table{
    display: grid;
    gap:0.8rem;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    justify-content: stretch;
}

.info-card{
    background-color: var(--primary-color);
    color:var(--light-color);
    padding: 0.8rem;
    border-radius: 8px;
    text-align: center;
}

.info-card:hover{
    box-shadow: var(--card-shadow);
    transform: var(--hover-transform);


}

.info-note p{
    text-align: center;
    color: rgb(230, 176, 67);
    font-size: 2rem;
}

@media screen and (min-width: 800px){
    .info-cards-table{
        grid-template-columns:repeat(2,minmax(250px,1fr));
    }
}
